[tool.poetry]
name = "photo-derush"
version = "0.1.0"
description = "A tool to dereush photography session with IA"
authors = ["yrolland <rolland_yann@orange.fr>"]
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = "^3.12"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
